- breadcrumb :student_payments, student

%table.table.table-condensed
  %thead
    %tr
      %th= t('payments.columns.date')
      %th= t('payments.columns.amount')
  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.date
        %td= payment.amount